<%= form_for(@fichero) do |f| %>
  <% if @fichero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fichero.errors.count, "error") %> prohibited this fichero from being saved:</h2>

      <ul>
      <% @fichero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :Nombre %>
  </div>
  <div class="field">
    <%= f.label :Edad %><br>
    <%= f.number_field :Edad %>
  </div>
  <div class="field">
    <%= f.label :Casado %><br>
    <%= f.check_box :Casado %>
  </div>
  <div class="field">
    <%= f.label :Fecha %><br>
    <%= f.date_select :Fecha %>
  </div>
  <div class="field">
    <%= f.label :Hora %><br>
    <%= f.time_select :Hora %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
